fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.28
geoalchemy2==0.14.4
psycopg2-binary==2.9.9
asyncpg==0.29.0
googlemaps==4.10.0
aiokafka==0.10.0
pydantic==2.6.2
pydantic-settings==2.2.1
scikit-learn
pandas
python-dotenv
